%%% User overrides go in here

%% This is a commented out example of overriding just server and port
%{erlbot, [
%    % cmd_word - the string the bot sees as its cmd initiator. IE erlbot help
%    {cmd_word, "yobot"},
%    % server - IRC server to connect to 
%    {server, "irc.your.server.com"},
%    % port - IRC server port to connect to 
%    {port, 6668}
%]}.

% This is a commented out example of overriding nick_plugin's nick
%{nick_plugin, [
%    {nick, "bot_of_erl"}
%]}.

% This is a commented out example of overriding channel_plugin's channels to join on connect
%{channel_plugin, [
%    % channels - List of channels to join on connect
%    {channels, ["#erlang", "#bots2"]}
%]}.

%% channel_led_plugin
%{channel_led_plugin_deploy_in_progress, [
%        % GPIO Pins 22 and 17 on raspberry pi
%        {init_action, "led_controller:start_link([{green, 17}, {red, 22}])."},
%        % 1 hour
%        {timeout, 3600000},
%        %{timeout, 15000},
%        {on_regex, "^\\S+: Started deploy for (\\S+)$"},
%        {on_action, "fun() -> led_controller:on(green), led_controller:blink(green, 3) end."},
%        {off_action, "fun() -> led_controller:off(green) end."},
%        {off_regex, "^\\S+: Completed deploy for (\\S+)$"}
%]}.
%
%{channel_led_plugin_deployment_error, [
%        % GPIO Pins 22 and 17 on raspberry pi
%        {init_action, "led_controller:start_link([{green, 17}, {red, 22}])."},
%        % 1 hour
%        {timeout, 3600000},
%        %{timeout, 15000},
%        {on_regex, "^\\S+: Group (\\d) encountered errors\.$"},
%        {on_action, "fun() -> led_controller:on(red), led_controller:blink(red, 20) end."},
%        {off_action, "fun() -> led_controller:off(red) end."},
%        {off_regex, "^\\S+: Group (\\d) completed$"}
%]}.






